Sort by:
<select ng-model="sort">
  <option value="updated_at">updated_at</option>
  <option value="created_at">created_at</option>
  <option value="-visits">visits</option>
  <option value="title">title</option>
</select><br/>
Search:<input ng-model='liveSearch'></input>
<ul class="example-animate-container">
  <li class="animate-repeat" ng-repeat="link in links | orderBy:sort | filter:{'title':liveSearch}">
    <img src="/redirect_icon.png"/>
    <div class="info">
      <div class="visits"><span class="count">{{ link.visits }}</span> Visits</div>
      <div class="title">{{ link.title }}</div>
      <div class="original">{{ link.url }} </div>
      <a ng-href="{{ link.base_url }}/{{ link.code }}">{{ link.base_url }}/{{ link.code }}</a>
    </div>
  </li>
</ul>
<!-- <pre>{{links|json}}</pre> -->